
<mat-toolbar color="primary" class="app-header">

  <span class="socialbook"><a class="name"> SocialBook </a></span>
  <span class="example-spacer"></span>
  <span class="nav-tool-items">
      <form  #form="ngForm"  
      class="example-form"  
      fxLayout="row" 
      fxLayoutAlign="start center"
      (ngSubmit)="login(form)"
      >
          <mat-card-content class="content">
          <div class="row1">
          <mat-form-field class="example-full-width1" appearance="fill">
              <mat-label>Email or Phone</mat-label>
              <input type="email" matInput name="email" [(ngModel)]="email" placeholder="Email address or phone number" required>
              </mat-form-field> <br>
          </div>
          <div class="row2">
              <section class="example-section">
                  <mat-checkbox class="example-margin">Keep me logged in!</mat-checkbox>
              </section>
          </div>
          </mat-card-content>
          <mat-card-content class="content">
              <div class="row1">
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput ngModel placeholder="Password" required>
                  </mat-form-field> <br>
              </div>
              <div class="row2">
                  <span>Forgot your password?</span>
              </div>
              </mat-card-content>
              <mat-card-content>
                  <button mat-raised-button color="primary" 
                  type="submit"
                  class="btn-block" 
                  routerLink="/home"
                  [disabled]="form.invalid || form.pending"
                  >Log in</button>
              </mat-card-content>

      </form>
  </span>
  

</mat-toolbar>


<app-sign-up></app-sign-up>